{% extends 'base.html' %}
{% load static %}

{% block title %}Titles List{% endblock %}

{% block content %}
<h1 class="page-title">Titles List</h1>

<!-- Table of Titles -->
<div class="titles-list">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="title-list">
            {% for title in page_obj %}
                <tr>
                    <td><a href="{% url 'title_record' title.id %}">{{ title.name }}</a></td>
                    <td>{{ title.description }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No titles found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Cards for Mobile View -->
    <div class="card-list">
        {% for title in page_obj %}
            <div class="card">
                <div class="card-content">
                    <h3 class="card-title"><a href="{% url 'title_record' title.id %}">{{ title.name }}</a></h3>
                    <p class="card-description">{{ title.description }}</p>
                </div>
            </div>
        {% empty %}
            <p class="no-records">No titles found.</p>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
<div class="pagination-container">
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn-page">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn-page">Previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn-page">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-page">Last</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type='application/javascript' src="{% static 'js/title_list.js' %}"></script>
{% endblock %}
