<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<!-- Button to open/close the menu in small screens -->
<button class="menu-toggle" onclick="toggleMenu()">☰</button>
<input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">

<!-- Side menu -->
<nav class="sidebar">
    <h2>University Management</h2>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li onclick="toggleSubmenu(event)">
            Students
            <ul class="submenu">
                <li><a href="{% url 'student_list' %}">List Students</a></li>
                <li><a href="{% url 'create_student' %}">Create Student</a></li>
            </ul>
        </li>
        <li onclick="toggleSubmenu(event)">
            Courses
            <ul class="submenu">
                <li><a href="{% url 'course_list' %}">List Courses</a></li>
                <li><a href="{% url 'create_course' %}">Create Course</a></li>
            </ul>
        </li>
        <li onclick="toggleSubmenu(event)">
            Titles
            <ul class="submenu">
                <li><a href="{% url 'title_list' %}">List Titles</a></li>
                <li><a href="{% url 'create_title' %}">Create Title</a></li>
            </ul>
        </li>
        <li><a href="#">Settings</a></li>
        <li class="logout-btn">
            <form action="{% url 'logout' %}" id="logout-form" method="post" style="display: inline;">
                {% csrf_token %}
                <button style="background: none; border: none; padding: 0; color: inherit; font: inherit; cursor: pointer;"
                        type="submit">
                    Logout
                </button>
            </form>
        </li>


    </ul>
</nav>
<!-- Main Content -->
<div class="main-container">
    <div class="content">
        {% block content %}
        <!-- Page specific content goes here -->
        {% endblock %}
        {% block extra_js %}{% endblock %}
    </div>
</div>

<script>
    // Function to change the side menu in mobile devices
    function toggleMenu() {
        document.querySelector('.sidebar').classList.toggle('open');
    }

    // Function to change the submenu visualization
    function toggleSubmenu(event) {
        event.currentTarget.classList.toggle('active');
    }
</script>
</body>
</html>
