<!-- home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the University Management System</h1>
<p>This is the dashboard where you can manage university data.</p>

<!-- Chatbot UI -->
<div class="chatbox">
    <div aria-live="polite" class="chat-container" id="chat-container">
        <!-- Chat messages will appear here -->
    </div>
    <div class="chat-input-container">
        <textarea id="user-input" onkeypress="handleKeyPress(event)" placeholder="Type a message..." ></textarea>
        <span class="send-icon" onclick="sendMessage()">&#x27A4;</span>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block extra_js %}
<script type='application/javascript' src="{% static 'js/home.js' %}"></script>
{% endblock %}
