{% extends 'base.html' %}
{% load static %}

{% block title %}Course List{% endblock %}

{% block content %}
<h1 class="page-title">Courses List</h1>

<!-- Filters Section -->
<div class="filters-container">
    <form class="filters-form" id="filter-form">
        <div class="filter">
            <label for="title">Title:</label>
            <select class="filter-dropdown" id="title" name="title">
                <!--                <option value="">All Titles</option>-->
                {% for title in titles %}
                <option %} %}selected{% endif if title.id== title_filter value="{{ title.id }}" {%>{{ title.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="filter">
            <label for="year">Year:</label>
            <select class="filter-dropdown" id="year" name="year">
                <option value="">All Years</option>
                {% for year in years %}
                    <option value="{{ year }}" {% if year == year_filter %} selected {% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn-filter" type="submit">Filter</button>
    </form>
</div>

<!-- Table of Courses -->
<div class="course-list">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody id="course-list">
        {% for course in page_obj %}
        <tr>
            <td><a href="{% url 'course_record' course.id %}">{{ course.name }}</a></td>
            <td>{{ course.description }}</td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.end_date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No courses found.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Cards for Mobile View -->
    <div class="card-list">
        {% for course in page_obj %}
        <div class="card">
            <div class="card-content">
                <h3 class="card-title"><a href="{% url 'course_record' course.id %}">{{ course.name }}</a></h3>
                <p class="card-description">{{ course.description }}</p>
            </div>
        </div>
        {% empty %}
        <p class="no-records">No courses found.</p>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
<div class="pagination-container">
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a class="btn-page" href="?page=1">First</a>
        <a class="btn-page" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a class="btn-page" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn-page" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script type='application/javascript' src="{% static 'js/course_list.js' %}"></script>
{% endblock %}