<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    {% endblock %}
</head>
<body>
    <div class="main-container">
        <div class="login-container">
            <h1>University Management</h1>
            <button id="wallet-login-btn">Login with Wallet</button>
        </div>
        <footer>
            <p>© 2024 Álvaro Menacho Rodríguez. Master in Artificial Intelligence. Loyola Andalucía University</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>

    {% block extra_js %}
    <script type='application/javascript' src="{% static 'js/login.js' %}"></script>
    {% endblock %}
</body>
</html>