{% extends 'base.html' %}
{% load static %}

{% block title %}Students List{% endblock %}

{% block content %}
<h1 class="page-title">Students List</h1>

<!-- Filters Section -->
<div class="filters-container">
    <form id="filter-form" class="filters-form">
        <div class="filter">
            <label for="title">Title:</label>
            <select id="title" name="title" class="filter-dropdown">
                <option value="">All Titles</option>
                {% for title in titles %}
                    <option value="{{ title.id }}">{{ title.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="filter">
            <label for="course">Course:</label>
            <select id="course" name="course" class="filter-dropdown">
                <option value="">All Courses</option>
                {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn-filter">Filter</button>
    </form>
</div>

<!-- Table of Students -->
<div class="students-list">
    <!-- Table for Desktop View -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="student-list">
            {% for student in page_obj %}
                <tr>
                    <td><a href="{% url 'student_record' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></td>
                    <td>{{ student.email }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No students found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Cards for Mobile View -->
    <div class="card-list">
        {% for student in page_obj %}
            <div class="card">
                <div class="card-content">
                    <h3 class="card-title"><a href="{% url 'student_record' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></h3>
                    <p class="card-email">{{ student.email }}</p>
                </div>
            </div>
        {% empty %}
            <p class="no-records">No students found.</p>
        {% endfor %}
    </div>
</div>


<!-- Pagination -->
<div class="pagination-container">
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1&title={{ title_filter }}&course={{ course_filter }}" class="btn-page">First</a>
            <a href="?page={{ page_obj.previous_page_number }}&title={{ title_filter }}&course={{ course_filter }}" class="btn-page">Previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&title={{ title_filter }}&course={{ course_filter }}" class="btn-page">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&title={{ title_filter }}&course={{ course_filter }}" class="btn-page">Last</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type='application/javascript' src="{% static 'js/student_list.js' %}"></script>
{% endblock %}
